.container-fluid {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.container-fluid > a {
  font-weight: bold;
  font-size: 24px;
}

ul {
  margin: 0;
  display: flex;
}

li {
  font-size: 18px;
  list-style: none;
}

li:first-child {
  margin-right: 48px;
}

a.active {
  font-weight: bold;
}

.navbar-toggler {
  padding: 0 0 0 0;
  border: none;
}


element.style {
}
button:focus:not(:focus-visible) {
    outline: 0;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler:focus {
  box-shadow: none;
}
